<ion-tabs>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="kamus" href="/tabs/kamus">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Kamus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edukasi" href="/tabs/edukasi">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Edukasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorit" href="/tabs/favorit">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favorit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" href="/tabs/info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
